<header id="top" class="header">
  <div class="text-vertical-center">
      <h1>Frankie Bell</h1>
      <br>
      <h3>Junior Full Stack Developer</h3>
      <br>
      <%= link_to "About Me", about_index_path, method: :get, class: "btn btn-dark btn-lg" %>
      <%= link_to "Projects", projects_path, method: :get, class: "btn btn-dark btn-lg" %>
  </div>
</header>
