<header id="top" class="header">
  <div class="text-vertical-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2>Recent Work</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="#">
                              <%= link_to "CV", "https://github.com/fbell123/CV", method: :get, class: "btn btn-dark btn-lg" %>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="#">
                                <%= link_to "Ensemble", "https://github.com/ensemble-team/ensemble", method: :get, class: "btn btn-dark btn-lg" %>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="#">
                                <%= link_to "Haysta:k", "https://github.com/fbell123/haystak", method: :get, class: "btn btn-dark btn-lg" %>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="#">
                                <%= link_to "Project 4", root_path, method: :get, class: "btn btn-dark btn-lg" %>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.row (nested) -->
                <a href="https://github.com/fbell123" class="btn btn-dark">View More Projects</a>
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
</header>
