<section id="services" class="services">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-10 col-lg-offset-1">
                <h2>About Me</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-commenting fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Communicator</strong>
                            </h4>
                            <p>Solid written and verbal communication skills.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-compass fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Adaptable</strong>
                            </h4>
                            <p>Problems provide opportunities to gain a better understanding.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-group fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Team-player</strong>
                            </h4>
                            <p>Avid hockey player - I love to lead or be led.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-lightbulb-o fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Creative</strong>
                            </h4>
                            <p>There is always another way to solve a problem.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-battery-full fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Energetic</strong>
                            </h4>
                            <p>I do not class myself as a morning person or a night owl, more both!</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-thumbs-o-up fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Enthusiastic</strong>
                            </h4>
                            <p>I love to take on new challenges whatever they may be and where they are.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-eye fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Attentive</strong>
                            </h4>
                            <p>Read it backwards to make sure there are no errors.</p>
                        </div>
                    </div>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
