<!DOCTYPE html>
<html>
  <head>
    <title>Website</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Frankie</h1>
    <button type="button" name="button">About Me</button>
    <button type="button" name="button">Projects</button>
    <%= yield %>
  </body>
</html>
